security:
    encoders:
        App\Entity\User:
            algorithm: argon2i

    # https://symfony.com/doc/current/security.html#where-do-users-come-from-user-providers
    providers:
        entity_provider:
            entity:
                class: App\Entity\User
                property: email

        jwt:
            lexik_jwt:
                class: App\Component\User\Dtos\JwtUserDto

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        user_auth:
            pattern: ^/api/users/auth/?$
            security: false
            methods:
                - post
        user_is_unique_email:
            pattern: ^/api/users/is_unique_email/?$
            security: false
            methods:
                - post
        user_create:
            pattern: ^/api/users/?$
            security: false
            methods:
                - post
        main:
            stateless: true
            anonymous: true
            provider: entity_provider
            # provider: jwt # if you use microservices
            guard:
                authenticators:
                    - lexik_jwt_authentication.jwt_token_authenticator

    access_control:
        - { path: ^/api/.+, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/api, roles: IS_AUTHENTICATED_ANONYMOUSLY } # Allows accessing the Swagger UI
